<footer id="footer" class="_l-footer" data-l="footer">
  <div class="_c-container">
    <div class="_c-copyright">
      &copy; <a href="https://2inc.org" target="_blank">Monkey Wrench</a>
    </div>
  </div>
</footer>
