<header id="header" class="_l-header" role="banner" data-l="header" data-l-header-type="overlay">
  <div class="_c-container">
    <div class="_c-row _c-row--nowrap _c-row--lg-margin _c-row--middle">
      <div class="_c-row__col _c-row__col--md-1-4">
        <%- include('../parts/_site-branding') %>
      </div>
      <div class="_c-row__col _c-row__col--md-3-4">
        <div class="_u-hidden-sm _u-hidden-md">
          <%- include('../parts/_global-nav') %>
        </div>
        <div class="_u-hidden-lg _u-clearfix">
          <div class="_u-pull-right">
            <%- include('../parts/_hamburger-btn') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
