<div class="p-global-nav _u-pull-right" role="navigation">
  <ul class="_c-navbar _c-navbar--auto">
    <li class="_c-navbar__item" data-c="navbar__item">
      <a href="/">Home</a>
    </li>
    <li class="_c-navbar__item" data-c="navbar__item" aria-haspopup="true">
      <a href="/">About</a>
      <ul class="_c-navbar__submenu" data-c="navbar__submenu" aria-hidden="true">
        <li class="_c-navbar__subitem" data-c="navbar__subitem">
          <a href="#">Submenu</a>
        </li>
        <li class="_c-navbar__subitem" data-c="navbar__subitem" aria-haspopup="true">
          <a href="#">Submenu</a>
          <ul class="_c-navbar__submenu" data-c="navbar__submenu" aria-hidden="true">
            <li class="_c-navbar__subitem" data-c="navbar__subitem">
              <a href="#">Submenu</a>
            </li>
            <li class="_c-navbar__subitem" data-c="navbar__subitem">
              <a href="#">Submenu</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="_c-navbar__item" data-c="navbar__item">
      <a href="/">Contact</a>
    </li>
  </ul>
</div>
